.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.s {
  margin-right: 20px;
  padding: 20px 40px;
}

.login-form {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  width: 500px;
  text-align: center;
}

.login-form .btn-back {
  position: absolute;
  padding: 10px;
  cursor: pointer;
  display: flex;
  font-size: 35px;
}


.login-form h2 {
  margin-bottom: 20px;
  color: #333;
}

.input-group {
  margin-bottom: 15px;
  text-align: left;
}

.input-group label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.input-group input {
  background: lightgrey;
  color: black;
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.login-button {
  margin: 0% 10px;
  background-color: rgb(47, 103, 235);
  border-radius: 8px;
  border: 2px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.5s;
}