.table-header {
  margin: auto;
  margin-bottom: 30px;
  max-width: 75%;
  height: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 25px 10px 20px;
  border-radius: 15px;
  background: linear-gradient(0deg, #5579FD 20%, #A570FA 90%);
  border: 2px solid #00A2FF;
  color: white;
  font-weight: bold;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.toppic-left {
  display: flex;
  padding: 0px 5% 0px 0px;
  margin: 0px 60% 0px 0px;
}